{% extends 'polls\base.html' %}
{% block title %} Знаменитые выпускники {% endblock %}

{% block content %}
{% load static %}

    <p class="center_text_big"> Наши знаменитые выпускники</p>
    <ol>
    	<li> <article> Акимова Ирина Михайловна - бывший первый заместитель главы администрации Президента Украины.В разное время работала директором Института экономических исследований и политических консультаций (Киев), старшим научным сотрудником Центра экономических исследований Варшавского университета, научным сотрудником экономического департамента Магдебургского университета, директором аналитического центра ООО Блакитна стрічка.</article></li>
    	<li><article>Божко Юрий Григорьевич - доктор архитектуры, член Союза архитекторов Украины, член-корреспондент Украинской академии архитектуры. Автор нескольких электронных програм для оценки естетических качеств проектов. Вперые в Украине разработал теорию аритекторики и внес ёё в практику арх-ри и дизайна.</article> </li>
    	<li><article>Соболева Елена Дмитриевна - заслуженная артистка Украины. Руководитель народного (образцово-художественного) самодеятельного вокального коллектива «Журавушка»</article></li>
    	<li><article>Фельдман Борис Яковлевич - президент концерна «АВЭК». Украинский политический и общественный деятель, бизнесмен и миллионер. Народный депутат Украины IV, V, VI, VII, VIII и IX созывов. </article> </li>
    </ol>

{% endblock %}