{% extends 'polls\base.html' %}
{% block title %} Средства обучения {% endblock %}

{% block content %}
{% load static %}
<div class="page_content">
	<p class="center_text_big">Средства обучения</p>

 	<p>Средства обучения – обязательный элемент оснащения учебных кабинетов и их информационно-предметной среды, а также важнейший компонент учебно-материальной базы школ различных типов и уровней. К средствам обучения относят различные материальные объекты, в том числе объекты, искусственно созданные специально для учебных целей и вовлекаемые в воспитательно-образовательный процесс в качестве носителей учебной информации и инструмента деятельности педагога и учащихся. Термину «средства обучения» соответствуют эквиваленты: «учебное оборудование», «учебно-наглядные и учебные пособия», «дидактические средства».</p>
    <p>Средства обучения в нашей школе:</p>
    <dl>

    	<p class="rightimg"><img src="{%static 'pictures\classroom-1167525_1280.jpg' %}"  width="650" height="549" alt="Computer classroom"></p>
    	<div class="left_text">
    		<dt >Компьютерный класс</dt>
    			<dd> <p> В образовании компьютеры применяются уже очень давно, по крайней мере, со времён появления персональных в 80-е годы. Универсальные возможности, простота управления и относительно невысокая цена сделали их широко востребованными и в школах, и в вузах, и на курсах дополнительного образования.</p>
    			</dd>
    	</div>

		<p class="leftimg"><img src="{%static 'pictures/b80e2aa0782a40f2212d21289b4194e5.jpg' %}" width="663" height="564" alt="Projector"></p></dd>
		<div class="right_text">
    		<dt>Проекторы</dt>
    		<dd><p> Важным компонентом среди современных мультимедийных решений в классе является проектор. Видеопроектор гарантирует, что каждый учащийся получит представление о разбираемых на уроке темах. Кроме того, современные интерактивные проекторы являются отличным инструментом для удержания внимания учащихся.</p> 
    	</div>

    	<p class="rightimg"><img src="{%static 'pictures/library-488690_1280.jpg' %}" width="724" height="731"></p>
    	<div class="left_text">
    	<dt>Библиотека</dt>
    	<dd> 
    		<p>Школьная библиотека была создана в 1936 г. Находится она на первом этаже, имеет общую площадь 58 кв.м. В библиотеке имеется в наличии необходимое библиотечное оборудование, нормативная документация, есть компьютер, подключенный к сети Интернет и принтер. Библиотечное оборудование: стеллажи - 33, кафедра выдачи - 1, книжные шкафы - 4, каталожные шкафы - 1.</p>
    		
    	</dd>
    	</div>
    </dl>
</div>

{% endblock %}