{% extends 'polls\base.html' %}
{% block title %} Традиции {% endblock %}

{% block content %}
{% load static %}

 <p class="center_text_big">Наши традиции</p>
    <aside>
    	<p><a href="#bestStudents">Награждение лучших учеников</a></p>
    	<p><a href="#yearStart">Торжественные собрания</a></p>
    	<p><a href="#exhibition">Осенняя выставка</a></p>
    	<p><a href="#schoolBirthday">Празднование дня рождения школы</a></p>
    	<p><a href="#christmas">Рождественская ярмарка</a></p>
    	<p><a href="#reading">Вечер чтения</a></p>
    </aside>
    <article>У каждой школы есть целый ряд мероприятий, которые со временем становятся традиционными и формируют лицо школы. Хотим  кратко рассказать о наших важнейших школьных традициях.</article>
    <div class="left_text">
    	<h4 id="bestStudents">Награждение лучших учеников месяца</h4>
    	<article>Каждый месяц руководство школы вручает почётные грамоты лучшим ученикам, работникам и друзьям нашей школы. Этой чести удостаиваются те, чья деятельность помогает в формировании и развитии имиджа школы ,а также чья работа и творческие достижения позволяют гордиться школой.</article>
    </div>

    <p class="rightimg"><img src="{%static 'pictures/celebration.jpg' %}"  width="650" height="549" alt="Celebration"></p>

    <div class="left_text">
    	<h4 id="yearStart">Торжественные собрания, посвящённые началу нового учебного года</h4>
    	<article>По традиции на первое торжественное собрание учеников первого класса приводят девятиклассники.</article>
    </div>

 <p class="leftimg"><img src="{%static 'pictures/decoration.jpg' %}"  width="450" height="549" alt="Decor"></p>

    <div class="right_text">
    	<h4 id="exhibition">Осенняя выставка</h4>
    	<article>Каждую осень ученики первых четырёх классов готовят из разных осенних даров яркие  экспонаты, которые выставляются для обозрения в актовом зале.</article>
	</div>

<p class="rightimg"><img src="{%static 'pictures/SchoolDay.jpg' %}"  width="550" height="420" alt="School"></p>

    <div class="left_text">
    	<h4 id="schoolBirthday">Празднование дня рождения школы</h4>
    	<article>Празднование дня рождения школы проходит каждый год в начале декабря. Утро начинается с традиционного  сладкого угощения в фойе  школы и продолжается праздничным весёлым концертом в актовом зале</article>
	</div>

<p class="leftimg"><img src="{%static 'pictures/Christmas.jpg' %}" width="550" height="420" alt="Christmas"></p>

	<div class="right_text">
    <h4 id="christmas">Рождественская ярмарка</h4>
    <article>В начале декабря в школу на рождественскую ярмарку приглашаются гости. В ярмарке участвуют как дети, так и взрослые. Ученики с родителями  заранее пекут  вкусные перечные печенья  (пипаркоки) и готовят ручные поделки. Работают кафе и выставка.</article>
    </div>

<p class="rightimg"><img src="{%static 'pictures/reading.jpg' %}" width="550" height="420" alt="Book"></p>

<div class="left_text">
    <h4 id="reading">Вечер чтения</h4>
    <article>Целью вечера чтения, который проходит в середине зимы для учеников 1-4 классов, является привить  интерес к чтению книг. Во время этого вечера проходит встреча и беседа с известным детским писателем. Затем в игровой форме проходят интересные  мероприятия в группах.</article>
</div>

{% endblock %}